@model RecipeVault.Models.RegisterViewModel

<div class="container">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Register" method="post">
        <div class="search-container d-flex flex-column">
            <input type="email" asp-for="Email" placeholder="Email" required/>
            <span asp-validation-for="Email"></span>

            <input type="password" asp-for="Password" placeholder="Password" required/>
            <span asp-validation-for="Password"></span>

            <button class="p-2" type="submit">Register</button>
        </div>
    </form>
    <p class="text-center mt-5">Already have an account? <a href="/Account/Login">Login</a></p>
</div>
